-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get, id: "ratings_form"  do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, 
      if params[:ratings] then params[:ratings].include?(rating) else 1 end
  = submit_tag 'Refresh', id: "ratings_submit"

%table#movies
  %thead
    %tr
      %th{:class => ("hilite" if params[:sort_by] == "title")}
        = sortable 'title', 'Movie Title', 'title_header' 
      %th Rating
      %th{:class => ("hilite" if params[:sort_by] == "release_date")}
        = sortable 'release_date', 'Release Date', 'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
